body {
    background-color: white;
    margin: 0px;
    text-align: center;
}
.header{
    background-color:#f1fcfc;
    width: 100%;
    margin-top: 0px;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    padding-top: 100px;
}
.bottom-container {
    padding-top: 50px;
    height: 150px;
    background-color:  #66BFBF;
}
#top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
#bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.photo {
    border-radius: 100%;
    height: 200px;
}
body {
    font-family: 'Montserrat', serif;
}
h1 {
    font-family: 'sacramento', cursive;
    font-size: 5.625rem;
    color: #40e0d0;
    margin: 50px auto 0 auto;
}
h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
    color: #40e0d0;
}
h3 {
    color: #11999E;
}
.text-align {
    text-align: center;
}
.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
}
.python-img {
    float: left;
    margin: 0px;
    margin-right: 20px;
}
.web {
    float: right;
    margin-left: 20px;
}
hr {
    color: #EAF6F6;
    margin: 100px auto;
    border-style: dotted;
    width: 50px;
    border-width: 8px;
    border-top: none;
}
.btn {
    
    height: 50px;
}
a {
    color: #11999E;
    padding: 50px;
    text-decoration: none;
}
#py {
    margin: auto;
}
#web {
    margin: auto auto auto 0;
    padding: 10px;
}
#svnit {
    padding: 0px;
}
#button {
    background-color: #11999E;
    margin: 40px auto;
    width: 150px;
    color: #40e0d0;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}
#button:hover {
    background-color: #66BFBF;
}
#hello {
    margin-top: 50px;
}
